<section id="about-me" class="section-container px-4 sm:px-6 lg:px-8 flex flex-col items-center md:items-start text-center md:text-left">
  <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">About Me</h2>

  <div class="max-w-3xl text-lg space-y-4" data-aos="fade-up" data-aos-delay="200">
    <p class="text-slate">
      Hi, I'm <strong>Vinmathi Iyappan</strong>, a <strong>Data Scientist and Business Intelligence Professional</strong> with a Master's in Business Analytics from California State University, East Bay.  
      With 7+ years of experience in <strong>Healthcare, Manufacturing, and Logistics</strong>, I specialize in <strong>data analysis, predictive modeling and business intelligence</strong>.
    </p>

    <p class="text-slate">
      I bring together technical expertise and data storytelling — from <strong>building ETL pipelines and ML models</strong> to <strong>designing dashboards</strong> that inform strategic decisions.  
      I’m skilled in <strong>Python, SQL, Power BI, Tableau </strong>, and experienced with <strong>Mainframe technologies</strong>.
    </p>
  </div>
</section>
