<section id="experience" class="section-container">
  <h2 class="section-title text-center" data-aos="fade-up">Experience</h2>

  <div class="relative border-l-4 border-green-400 ml-8 md:ml-16 mt-8">

    <!-- Research Assistant -->
    <div class="relative mb-10 pl-8" data-aos="fade-up" data-aos-duration="800">
      <span class="absolute -left-3 top-4 w-5 h-5 bg-green-400 rounded-full border-4 border-black"></span>
      <div class="p-6 rounded-lg shadow-md bg-gray-900">
        <h4 class="font-semibold text-lightest-slate">Research Assistant</h4>
        <p class="text-slate">
          <a href="https://www.csueastbay.edu" class="text-green-400 hover:underline">California State University, East Bay</a> • Sept 2023 – Present
        </p>

      
        <h5 class="font-semibold text-green-400 mt-4">
          <a href="https://github.com/Vinmathiiyappan/Research-Analysis-of-prescription-Drug/wiki/Analysis-of-Prescription-Drug-Expenditure-using-Utility%E2%80%90driven-Clustering" target="_blank" class="hover:underline">
            Using Utility-driven Clustering for Analyzing U.S. Prescription Drug Expenditure
          </a>
        </h5>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>With prescription drug expenditure rising annually, this research aims to optimize healthcare resource allocation and guide policy decisions for cost reduction.</li>
          <li>Wrangled 500K+ records, applied dimensionality reduction and utility-based clustering to understand national spending patterns.</li>
          <li>Identifying cost-saving opportunities that could reduce drug expenditure by ~5%, offering insights for targeted policy reform.</li>
        </ul>
        <a href="https://github.com/Vinmathiiyappan/Research-Analysis-of-prescription-Drug/wiki/Analysis-of-Prescription-Drug-Expenditure-using-Utility%E2%80%90driven-Clustering" target="_blank" class="text-green-400 hover:underline inline-block mt-2">Read more</a>


        
        <h5 class="font-semibold text-green-400 mt-4">
          <a href="https://github.com/Vinmathiiyappan/Research-Impact-of-Epilepsy-Disclosure/wiki" target="_blank" class="hover:underline">
            Using LLMs to Understand the Impact of Epilepsy Disclosure or Concealment on Workplace Outcomes
          </a>
        </h5>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>Analyzed 540K+ Reddit discussions using NLP, sentiment analysis, and Large Language Models to uncover workplace struggles among individuals with epilepsy.</li>
          <li>Performing hypothesis testing to compare the consequences of disclosure vs. concealment in professional environments.</li>
          <li>Initial Findings revealed that 67% of users reported difficulties due to inflexible policies and lack of workplace adjustments.</li>
        </ul>
        <a href="https://github.com/Vinmathiiyappan/Research-Impact-of-Epilepsy-Disclosure/wiki" target="_blank" class="text-green-400 hover:underline inline-block mt-2">Read more</a>

      </div>
    </div>

    
    <!-- CDPH -->
    <div class="relative mb-10 pl-8" data-aos="fade-up" data-aos-duration="800">
      <span class="absolute -left-3 top-4 w-5 h-5 bg-green-400 rounded-full border-4 border-black"></span>
      <div class="p-6 rounded-lg shadow-md bg-gray-900">
        <h4 class="font-semibold text-lightest-slate">Data Analyst</h4>
        <p class="text-slate">
          <a href="https://www.cdph.ca.gov/" class="text-green-400 hover:underline">California Department of Public Health</a> • Sept 2024 – Dec 2024
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>Replaced manual data extraction with an AI-powered solution using Power Apps, achieving 95% accuracy and saving 10 hours per week.</li>
          <li>Developed the team’s first SQL database with 30+ tables and migrated Excel-based datasets into ETL pipelines to enable scalable public health analysis.</li>
        </ul>
      </div>
    </div>

    <!-- Oakley -->
    <div class="relative mb-10 pl-8" data-aos="fade-up" data-aos-duration="800">
      <span class="absolute -left-3 top-4 w-5 h-5 bg-green-400 rounded-full border-4 border-black"></span>
      <div class="p-6 rounded-lg shadow-md bg-gray-900">
        <h4 class="font-semibold text-lightest-slate">Data Analyst</h4>
        <p class="text-slate">
          <a href="https://www.oakley.com" class="text-green-400 hover:underline">Essilor Luxottica – Oakley</a> • May 2024 – Aug 2024
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>Built Power BI dashboards to replace Excel reports, saving $150K annually and improving warehouse monitoring for leadership.</li>
          <li>Improved a backorder AI model by applying feature engineering to 1TB of ATP data, boosting prediction accuracy by 25% and reducing stockouts by 6%.</li>
        </ul>
      </div>
    </div>

    <!-- Thryve -->
    <div class="relative mb-10 pl-8" data-aos="fade-up" data-aos-duration="800">
      <span class="absolute -left-3 top-4 w-5 h-5 bg-green-400 rounded-full border-4 border-black"></span>
      <div class="p-6 rounded-lg shadow-md bg-gray-900">
        <h4 class="font-semibold text-lightest-slate"> Senior Data Analyst</h4>
        <p class="text-slate">
          <a href="https://www.thryvedigital.com" class="text-green-400 hover:underline">Thryve Digital Health LLP</a> • Mar 2021 – Aug 2022
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>Resolved 50+ critical COBOL-based pricing bugs, cutting revenue leakage by 8% and saving ~$80K annually through early detection of claim errors.</li>
          <li>Reduced manual rework by identifying root causes in claim eligibility logic across 30 legacy programs.</li>
        </ul>
      </div>
    </div>

    <!-- Cognizant -->
    <div class="relative mb-10 pl-8" data-aos="fade-up" data-aos-duration="800">
      <span class="absolute -left-3 top-4 w-5 h-5 bg-green-400 rounded-full border-4 border-black"></span>
      <div class="p-6 rounded-lg shadow-md bg-gray-900">
        <h4 class="font-semibold text-lightest-slate">Associate Analyst - Mainframe</h4>
        <p class="text-slate">
          <a href="https://www.cognizant.com" class="text-green-400 hover:underline">Cognizant Technology Solutions</a> • Nov 2015 – Feb 2021
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>Optimized a CPU-intensive DB2 batch job, reducing runtime from 58 minutes to 30 seconds and saving $150K+ in mainframe costs.</li>
          <li>Engineered ETL workflows using Informatica CDC on IMS DB, cutting data latency by 60% and streamlining batch processes.</li>
          <li>Lowered post-release defects by 20% by proactively flagging issues during peer reviews.</li>
        </ul>
      </div>
    </div>

  </div>
</section>
